/* ------------------------ */

/* -------- ALL -------- */

/* ------------------------ */

:root{
  --black: #000;
  --white: #fff;
  --grey: #f7f7f7;
  --softblack: #333;
  --darkblue: #171f24;
  --darkblue2: #212e34;
  --blue: #446D80;
}

*{
  border-radius: 10px;
}

html{
  scroll-behavior: smooth;

}
body{
  position: relative;
  background-color: var(--grey);
  font-family: 'Quicksand', sans-serif;
  color: var(--softblack);
  /* background-color: #f7f7f7; */
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
}

h2{
  font-size: 30px;
}

.section{
  padding: 50px;
  box-shadow: 0px -0px 5px -1px #0003;
  background-color: var(--white);
  margin-bottom: 50px;
}

img{
  box-shadow: 0 2px 5px #000d;
}

/* .section, .section-contact{
  background-image: radial-gradient(#bbb 1px, transparent 0px);
  background-size: 5px 5px;
}  */

/* ------------------------ */

/* -------- DARK MODE -------- */

/* ------------------------ */

.checkbox {
opacity: 0;
position: absolute;
}

.label {
background-color: var(--softblack);
border-radius: 50px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px;
position: fixed;
  top: 17px;
  right: 20px;
height: 16px;
width: 30px;
transform: scale(1.5);
}

.label .ball {
background-color: var(--grey);
border-radius: 50%;
position: absolute;
top: 2px;
left: 2px;
height: 11px;
width: 11px;
transform: translateX(0px);
transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
transform: translateX(15px);
}

body.dark{
  background-color: var(--darkblue);
  color: var(--grey);
}

.header.dark{
  background-color: var(--darkblue2);
  color: #fff;
}

.section.dark{
  background-color: var(--darkblue2);
  /* background-color: var(--blue); */
}
.title a.dark{
  color: var(--grey);
}


nav ul.dark.is-active{
  background-color: var(--darkblue2);
}

.box-nav a.dark{
  background-color: var(--darkblue2);
  color: var(--grey);
}

.box-nav a.dark:hover{
  background-color: var(--blue);
  color: var(--grey);
}

.box-nav.active-dark a{
  background-color: var(--blue);
  color: var(--white);
}

.hamburger.dark{
  background-color: var(--blue);
}

.label.dark{
  background-color: var(--grey);
}
.label .ball.dark{
  background-color: var(--softblack);
}

li button.dark{
  background-color: var(--blue);
}

.start-app.dark{
  background-color: var(--blue);
}

#btn-form.dark{
  background-color: var(--blue);
}

.btn-box h6.dark{
  background-color: var(--white);
}

.fa-brands.dark{
  color: var(--grey);
}
.bx.dark{
  color: var(--grey);
}

.fa-angles-down.dark{
  color: var(--grey);
}

.fa-angles-up.dark{
  color: var(--grey);
}

.footer.dark{
  border-top: 1px solid #fff1;
}

/* ------------------------ */

/* -------- HAMBURGUER -------- */

/* ------------------------ */

.hamburger {
  pointer-events: none;
  outline: none;
  opacity: 0;
  position: fixed;
  z-index: 999;
  bottom: 5px;
  right: 5px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--softblack);
  border: none;
}

.hamburger__burger {
  width: 40px;
  height: 5px;
  background: var(--grey);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.hamburger__burger::before,
.hamburger__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: var(--grey);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.hamburger__burger::before {
  transform: translateY(-12px);
}
.hamburger__burger::after {
  transform: translateY(12px);
}
/* ANIMATION */
.hamburger.is-active .hamburger__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.hamburger.is-active .hamburger__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.hamburger.is-active .hamburger__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* ------------------------ */

/* -------- HEADER -------- */

/* ------------------------ */

.header{
  border-radius: 0px;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 100;
  box-shadow: 0 1px 1px #0002;

}

.header__box{
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title a{
  font-size: 20px;
  font-weight: 700;
  color: var(--softblack);
  text-decoration: none;
}

nav ul{
  display: flex;    
  flex-wrap: nowrap;
  list-style: none;
  column-gap: 3px;
}

.box-nav a{
  display: flex;
  margin: 0 2px;
  background-color: var(--white);
  height: 100%;
  width: 100%;
  padding: 7px 10px;
  transition: all .3s ease;
  font-size: 15px;
}
.box-nav > a:hover{
  color: var(--grey);
  background-color: var(--softblack);
}

.box-nav.active a{
  background-color: var(--black);;
  color: var(--white);
}

li a{
  color: var(--softblack);
  text-decoration: none;
  font-weight: 600;
}

header nav i{
  margin-right: 5px;
  font-size: 15px;
}

.ic{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

/* ------------------------ */

/* -------- PROFILE -------- */

/* ------------------------ */

.section-profile{
  margin-top: 100px;
  padding: 50px;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__name{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: -52px;
}

.profile__name p{
  font-size: 30px;
}

.profile__name h1{
  font-size: 50px;
  text-transform: uppercase;
}

.profile__work{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
}

.work-developer {
  text-align: center;
  font-size: 30px;
}

/* ------------------------ */

/* -------- ABOUT ME -------- */

/* ------------------------ */

.section-aboutme{
  padding: 50px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects__carousel{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme__presentation{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 30px;
}

.aboutme__presentation ul{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  height: 100%;
  list-style: none;
}

li button{
  text-decoration: none;
  color: var(--grey);
  transition: all .3s ease;
  font-size: 20px;
  padding: 5px 20px;
  border: 2px solid var(--softblack);
  outline: none;
  background-color: var(--softblack);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

li button a{
  color: var(--white);
}

li button:hover > a{
  color: var(--softblack);
}

li button:hover{
  background-color: var(--grey);
  color: var(--softblack);
}

.presentation-face{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-aboutme img{
  height: 250px;
  width: 200px;
  object-fit: cover;
  transition: all .3s ease;
}

.aboutme-description p{
  font-size: 15px;
  text-align: start;
}

/* ------------------------ */

/* -------- PROJECTS -------- */

/* ------------------------ */

.section-projects{
  height: auto;
  width: 100%;
  padding: 50px 50px 5px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.section-projects h2{
  margin-bottom: 50px;
}

.section-projects span i{
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
}

.projects__all{
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.box-img{
  padding: 10px;
  width: 250px;
  height: 250px;
  text-align: center;
  position: relative;
  z-index: 20;
}

.box-img:hover > img {
  height: 100px;    
  filter: blur(1px);
}

.box-img h4{
  margin-top: 5px;
}
.box-img:hover > h4{
  margin-top: 15px;
}

.box-img:hover > .start-app{
  bottom: 50px;
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.start-app{
  text-decoration: none;
  color: var(--grey);
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  transition: all .3s ease;
  font-size: 20px;
  padding: 5px 20px;
  border: 2px solid var(--softblack);
  outline: none;
  background-color: var(--softblack);
  font-size: 18px;
  font-weight: bold;
}

.start-app:hover{
  background-color: var(--grey);
  color: var(--softblack);
}

.projects__all{
  height: 250px;
  overflow: hidden;
  transition: all .3s ease;
}

.projects__all.is-active{
  height: auto;
}

.projects__all img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  transition: all .3s ease;
}


/* ------------------------ */

/* -------- CONTACT -------- */

/* ------------------------ */

.section-contact{
  display: flex;
  justify-content: center;
  align-items: center;   
  padding: 50px; 
}

.section-contact-box{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.contact{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-info{
  text-align: center;
}

.contact-info h5{
  margin: 10px 0;
}

.contact-info h6{
  margin-bottom: 6px;
}

.contact-info h6:last-child{
  margin-bottom: 20px;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-box{
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 4fr;
  width: 100%;
}

.form-input{
  width: 320px;
  height: 30px;
  border: none;
  outline: none;
  padding: 10px 10px;
  font-size: 15px;
  background-color: var(--grey);
}

.form-input-ta{
  width: 320px;
  height: 130px;
  border: none;
  outline: none;
  padding: 10px 10px;
  resize: none;
  margin-bottom: 5px;
  background-color: var(--grey);
}

.btn-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
}

.btn-box h6{
  color: var(--softblack);
  opacity: 0;
}

#btn-form{
  text-decoration: none;
  color: var(--grey);
  transition: all .3s ease;
  font-size: 20px;
  padding: 5px 20px;
  border: 2px solid var(--softblack);
  outline: none;
  background-color: var(--softblack);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 25%;
}

#btn-form:hover{
  background-color: var(--grey);
  color: var(--softblack);
}


/* ------------------------ */

/* -------- FOOTER -------- */

/* ------------------------ */

.footer{
  border-radius: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  border-top: 1px solid #0002;
}

.footer h6{
  display: inline-block;
  border-left: 1px solid #0002;
  border-radius: 0px;
  width: 100%;
  text-align: center;
}

.footer h6:nth-child(1){
  border: none;
}

/* ------------------------ */

/* -------- ICON -------- */

/* ------------------------ */

.work-icons{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}

.contact-icon a i{
  font-size: 30px;
  margin-right: 20px;
  color: var(--softblack);
}

.section i{
  color: var(--softblack);
  font-size: 40px;
  margin: 0 20px;
  transition: color .2s ease;
}

.fa-html5:hover{
  transform: scale(1.1);
  color: #f06529;
}
.fa-css3-alt:hover{
  transform: scale(1.1);
  color: #3c99dc;
}
.fa-js:hover{
  transform: scale(1.1);
  color: #f0db4f;
}
.fa-react:hover{
  transform: scale(1.1);
  color: #61dbbd;
}
.bxl-redux:hover{
  transform: scale(1.1);
  color: #764abc;
}
.bxl-postgresql:hover{
  transform: scale(1.1);
  color: #3DA0B4;
}
.fa-node:hover{
  transform: scale(1.1);
  color: #58a063;
}
.bxl-typescript:hover{
  transform: scale(1.1);
  color: #007acc;
}
.bxl-sass:hover{
  transform: scale(1.1);
  color: #cc6899;
}

a .fa-linkedin:hover{
  transform: scale(1.1);
  color: #0077b5;
}

.fa-github:hover{
  transform: scale(1.1);
  color: var(--black);
}

.fa-git-alt:hover{
  transform: scale(1.1);
  color: #f34f29;
}

.fa-instagram:hover{
  transform: scale(1.1);
  color: #dd2a7b;
}

/* ------------------------ */

/* -------- MEDIA -------- */

/* ------------------------ */
@media screen and (min-width: 900px) and (max-width: 1100px) {
  .label {
    background-color: var(--softblack);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 67px;
    right: 20px;
    height: 16px;
    width: 30px;
    transform: scale(1.5);
  }
}

@media screen and (max-width: 1000px) {

/* ------------------------ */

/* -------- ALL -------- */

/* ------------------------ */

  .section, .section-contact{
    border-radius: 0px;
  }
}

@media screen and (max-width: 900px) {

/* ------------------------ */

/* -------- DARK MODE -------- */

/* ------------------------ */

  nav ul.dark.is-active{
    background-color: var(--blue);
  }

  .box-nav a.dark{
    background-color: var(--blue);
    color: var(--grey);
  }

  .box-nav a.dark:hover{
    background-color: var(--darkblue);
    color: var(--blue);
  }

/* ------------------------ */

/* -------- HEADER -------- */

/* ------------------------ */

  .header__box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hamburger {
    pointer-events: auto;
    opacity: 1;
    }

  h1{
    text-align: center;
  }
  nav ul{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    z-index: 990;
    position: fixed;
    right: 15px;
    bottom: 90px;
    background-color: var(--grey);
    padding: 8px;
    margin: 0px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(80px);
    transition: all .3s ease;
  }

  nav ul.is-active{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    z-index: 990;
    position: fixed;
    right: 13px;
    bottom: 90px;
    background-color: var(--softblack);
    padding: 8px;
    margin: 0px;
    text-align: center;
    height: auto;
    overflow: auto;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
  }
  box-nav a.is-active{
    background-color: var(--grey);

  }

  .box-nav a{
    padding: 6px;
    margin: 0px;
    font-size: 0px;
    color: var(--grey);
    background-color: var(--softblack);

  }
  .box-nav a:hover{
    background-color: var(--grey);
    color: var(--softblack);
  }
  .box-nav i{
    margin: auto;
    padding: 0px;
  }

  ul li{
    margin: 0 2px;
  }

  .box-nav p{
    font-size: 0px;
  }

/* ------------------------ */

/* -------- PROJECTS -------- */

/* ------------------------ */

  .projects__all{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
  }

/* ------------------------ */

/* -------- CONTACT -------- */

/* ------------------------ */

  .section-contact-box{
    flex-direction: column;
  }

  .form-input{
    width: 100%;
  }

  .form-input-ta{
    width: 100%;
  }

  .btn-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #btn-form{
    width: 70%;
  }  

  /* ------------------------ */

  /* -------- FOOTER -------- */

  /* ------------------------ */

  .footer{
    flex-direction: column;
  }

  .footer h6{
    margin-bottom: 10px;
  }

  .footer h6:nth-child(3){
    margin-bottom: 0;
  }
}

@media screen and (max-width: 650px) {

  /* ------------------------ */

  /* -------- ABOUT ME -------- */

  /* ------------------------ */

    .section-aboutme{
    position: relative;
    text-align: center;
  }

  .aboutme__presentation{
    flex-direction: column-reverse;
  }

  li button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .aboutme-description p{
    text-align: center;
  }

/* ------------------------ */

/* -------- PROJECTS -------- */

/* ------------------------ */

  .projects__all{
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
  }
}


