:root {
    --primary: #a5c882;
    --secundary: #d33f49;
    --white: #fff;
    --black: #000;
    --backgorud: #e7e7e7;
}

*{
  border-radius: 10px;
}

body{
  font-family: sans-serif;
  background-color: var(--backgorud);
  margin-top: 25px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: var(--white);
  width: 400px; 
  height: auto;
  padding: 30px;
}

.date{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-complete{
  display: flex;
  align-items: center;
}

.date-number{
  font-size: 50px;
  font-weight: bold;
  margin-right: 10px;
}

.date-my{
  font-size: 20px;
}

.date-month{
  font-weight: bold;
}

.date-name{
  text-transform: uppercase;
  letter-spacing: 3px;
}

.form{
  display: grid;
  grid-template-columns: 6fr 30px 1fr;
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.form-input{
  background-color: var(--backgorud);
  padding: 0 10px;
  border: none;
  outline: none;
}

.form-submit{
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--backgorud);
  cursor: pointer;
}

.form-organize{
  outline: none;
  border: none;
  padding: 0 5px;
  background-color: var(--secundary);
  color: var(--white);
  cursor: pointer;
}

.todo-box{
  word-break: break-all;
}

.todo{
  background-color: var(--primary);
  color: var(--white);
  font-size: 20px;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-right: 30px;
  height: auto;
}
.todo:last-child{
  margin-bottom: 0px;
}

.todo-icon{
  position: absolute;
  font-size: 20px;
  display: flex;
  align-items: center;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.done{
  background-color: var(--backgorud);
  color: var(--black);
  text-decoration: line-through;
}
