body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    background: #f0f0f3;
}

a{
    text-decoration: none;
} 

.section{
    display: flex;
    flex-direction: column;
}

.reloj{
    top: 350px;
    display: flex;
    justify-content: center;

}

.reloj-digital{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
    border-radius: 5px;
    box-shadow:  -8px 8px 16px #cccccf,
                 8px -8px 16px #ffffff;
    padding: 40px;
    color: #71767f;
}

.reloj-aguja{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto;
    box-shadow:  -8px 8px 16px #cccccf,
                 8px -8px 16px #ffffff;
    color: #71767f;
    position: relative;
}

.reloj-aguja-interior{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.numero{
    font-size: 20px;
    line-height: 10px;
    color: #71767f;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.numero:nth-of-type(1){
    top: 10px;
    transform: translateY(-100%);
    transform: rotate(90deg);
}

.numero:nth-of-type(2){
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
}

.numero:nth-of-type(3){
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: auto;
}

.numero:nth-of-type(4){
    top: calc(100% - 20px);
    transform: translateY(-100%);
    transform: rotate(90deg);
}

.horas{
    height: 25%;
    width: 3px;
    border-radius: 2px;
    background-color: #555;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transform-origin: top;
    z-index: 3;
}
.minutos{
    height: 30%;
    width: 2px;
    border-radius: 2px;
    background-color: #71767f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transform-origin: top;
    z-index: 2;
}
.segundos{
    height: 35%;
    width: 1px;
    border-radius: 2px;
    background-color: #FF564E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transform-origin: top;
    z-index: 1;
}
