* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3d64e6;
  font-family: "poppins", sans-serif;
}

.container {
  background-color: #fff;
  width: 80vw;
  max-width: 37.5em;
  padding: 42px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(8, 21, 65, 0.25);
}

.search-wrapper {
  display: grid;
  grid-template-columns: 9fr 2fr;
  gap: 20px;
}

.search-wrapper button {
  font-size: 16px;
  background-color: #3d64e6;
  color: #fff;
  padding: 13px 0;
  border: none;
  border-radius: 24px;
}

.search-wrapper input {
  font-size: 16px;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid #3d64e6;
  outline: none;
  color: #222a43;
}

#result {
  margin-top: 20px;
}

.flag-img {
  display: block;
  width: 45%;
  min-width: 120px;
  margin: 28px auto;
}

.container h2 {
  font-weight: 600;
  color: #222a43;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.data-wrapper {
  margin-bottom: 16px;
}

.container h4 {
  display: inline;
  font-weight: 500;
  color: #222a43;
}

.container span {
  color: #5d6274;
}

.container h3 {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #ff465a;
}
